body {
    background-image: url("https://i.redd.it/c3uhsgo1vx541.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
    color: white;
}
input {
    color: rgb(0, 255, 255);
    border: none;
    border-bottom: 2px solid rgb(0, 255, 229);
    outline: none;
    background-color: transparent;
}
.back {
    z-index: -1;
    position:absolute;
    background-color: rgba(19, 3, 82, 0.846);
    width: 250px;
    height: 250px;
    border-radius: 3px;
}
